/* 
    box shadow: Es una propiedad que crea una sombra del tamaño de la caja
        box-shadow: h-offset v-offset blur spread color inset/outset
            - h-offset: Es el desplazamiento horizontal de la sombra
            - v-offset: Es el desplazamiento vertical de la sombra
            - blur (optional): Es la cantidad de desenfoque de la sombra
            - spread (optional): Extiende el box shadow, lo amplifica segun la medida que le demos, esta amplificacion la hace en todos los sentidos 
            - color (optional): Define el color de la sombra, si no se especifica tomara el color del texto
            - inset/outset (optional): Determina si la sombra se dibuja por dentro o por fuera de la caja
            
            Con valor outset(default) los valores positivos añaden a derecha y abajo y los valores negativosañaden a izquierda y arriba
            
            Con valor inset se invierten los valores, positivo seria izquierda y arriba y negativo derecha y abajo
            
                box-shadow: 10px 10px 2px 5px red;
        
        Sombras multiples
            Se añaden las sombras separadas por comas
                box-shadow: 10px 10px 2px 5px red, -10px -10px 2px 5px blue;
                
    text-shadow: h-offset v-offset blur color (mismo principio que  box-shadow)
        Sombras multiples: Se añaden las sombras separadas por comas
            text-shadow: 10px 10px 2px red, -11px -11px 2px blue
*/
.box{
    margin: 50px;
    background-color: crimson;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 20px 20px 30px 5px blue;
}
h1{
    margin: 150px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 100px;
    color: darkgreen;
    text-shadow: 100px 50px 10px black, -200px -70px 5px grey; /*En el text shadow no tenemos los valores spread ni de inset/outset*/
}
h2{
    margin: 70px;
    text-align: center;
    font-size: 80px;
    text-shadow: 1px 1px red, 2px 2px red, 3px 3px red, 4px 4px red, 5px 5px red; /*Con este formato en las smbras de los textos podemos crear textos tipos 3D, sin embargo resulta muy laborioso hacerlos con css de esta manera, para ello ocuparemos otros metodos como sass*/
}
.box2{
    margin: 10px;
    width: 300px;
    height: 300px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    /* border: 10px solid red; */
    box-shadow: 30px 30px 0px 50px lime; /*La sombra verde se ve asi debido al spread. Si quiero dar spread (ampliacion), pero sin que tenga blur, necesito poner en el tercer valor un 0, (podemos utlizar 0px o 0 solamente) ya que si no se establece, el tercer valor no lo tomara como spread si no como blur
        Ademas como podemos observar el box shadow no desplaza la caja ni el contenido siguiente, no es como el border, que entre mas grande lo hacemos va desplazando el contenido a su alrededor, el box shadow no hace esto, en su caso lo que hace es posicionarse por debajo de los otros elementos*/
}
.box3{
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-left: auto;
    margin-right: auto;
}
.box4{
    margin-top: 100px;
    width: 300px;
    height: 300px;
    background-color: lightcoral;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px 20px aqua, 0 0 20px 40px black, 50px 50px 0 30px red; /*Podemos poner sombras como si fueran bordes, esto quiere decir alrededor del elemento por completo, esto lo hacemos estipulando los 2 primeros valores en cero y el cuarto (spread o ampliacion) es el que se encargara de hacer este sombreado en todos los lados, en este valor es donde ponemos la medida que queremos que tenga nuestra sombra. Ademas podemos poner mas de una sombra en un solo elemento (sombras multiples), estas pueden ser el tipo de sombra que nosotros queramos*/
}
.box5{
    margin-top: 200px;
    width: 300px;
    height: 300px;
    background-color: lightseagreen;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 30px 30px black, -50px -50px orangered, 20px 20px purple inset, -20px -20px yellow inset; /*Como vemos aqui pusimos mas de una sombra y no fue en todos los lados, cada sombra fue de un tipo, en diferente direccion y con diferentes valores, asi podemos ir agregando mas sombras hacia la direccion que queramos con los valores que queramos
    
    Ademas podemos observar lo descrito al inicio y eso es que con el valor inset el posicionamiento de las sombras cambia en cuanto a su direccion en comparacion con el outset deacuerdo con valores negativos y positivos*/
}