/* 
    Un degradado es la transicion entre un color y otro. El navegador calculara todos los pasos intermedios entre los colores del degradado
    
    Es un valor de background-image
    Existen dos tipos de degradados: lineales y radiales
    
    Degradados lineales:
        linear-gradient([direcction], color-1, color-2...)
        background-image: linear, gradient(red, blue);
            La direccion es opcional, se puede establecer con un angulo (20deg, 190deg...) o estableciendo la direccion del degradado con "to top | right | bottom | left | top left | top right | bottom left | bottom right"
        background-image: linear-gradient(to right, red, blue);
        
        Si no establecemos paradas de color, el navegador dividira el espacio disponible entre los colores que tengan que pintar
            2 colores 0% 100%
            3 colores 0% 50% 100%
            
            Para establecer las paradas se puede usar cualquier medida: px, em, %,etc... Si la paradas/inicios empiezan en el mismo sitio se genera un corte solido
                background-image: linear-gradient(red 50%, blue 50%);
                
            linear-gradient(direcction, color-1 stop, color-2 start [stop]...)
                background-image: linear-gradient(red 50%, blue 50% 70%, green 75%);
                
    Degradados radiales:
        Funcionan de una forma similar a los degradados lineales
            background-image: radial-gradient([shape], red, blue);
            background-image: radial-gradient(red, blue);
            
        Por defecto shape se ajustara al tamaño de la caja, pero podemos establecer si queremos un circulo o una ellipse y definir el radio o los radios
            background-image: radial-gradient(circle 100px, red. blue);
            background-image: radial-gradient(ellipse 100px, 50px, red, blue);
            
            Si no establecemos un punto de origen, el punto 0 0 sera el centro del elemento. Para establecer el punto de origen podemos hacerlo con medidas o con palabras clave
                Con la palabra "at" establecemos el punto de origen. Los valores que acepta son:
                    top | right | bottom | left | center | closest-side | closest-corner | farthest-side | farthest-corner
                        background-image: radial-gradient(circle 100px, at top left, red 50%, blue 50%);
                    
                    Si establecemos un valor, el segundo por defecto sera center
                        background-image: radial-gradient(circle 100px at top, red 50%, blue 50%);
*/
.box{
    margin: 10em auto;
    width: 1000px;
    height: 1000px;
    border: 20px solid black;
    /* margin-left: auto;
    margin-right: auto; */
}