body{
    background-image: radial-gradient( aqua 20%, purple);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.img{
    width: 70%;
}