body{
    background-image: radial-gradient( aqua 20%, purple 90%);
    background-attachment: fixed;
    margin-left: 30px;
    margin-right: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    background-color: #222;
    width: 100%;
    height:400px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.card-left{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: darkcyan;
    margin: 10px;
    padding-left: 4px;
    padding-right: 3px;
}
.card-right{
    width: 70%;
    padding: 30px;
}
.card-title{
    text-transform: uppercase;
    display: flex;
    margin-left: 5px;
}
.img{
    max-width: 92%;
    border-radius: 5px;
    margin: 35px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
.form-field{
    display: flex;
    flex-direction: column;
}
.form-names{
    display: flex;
    justify-content: space-between;
}
.form-names  input{
    max-width: 73%;
}
.form-label{
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 10px;
    font-style: italic;
}
.form-input, .form-textarea{
    background: none;
    border: none;
    border-bottom: 3px solid darkcyan;
    /* color: lightblue; */
    color: lightcoral;
    /* color: white; */
    padding-left: 10px;
}
.form-input{
    border-radius: 10px;
}
.form-textarea{
    border-radius: 10px;
    resize: none;
}
/* .form-submit{
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    margin-left: 10%;
    background-color: rgba(0, 197, 118, 0.704);
    border: .5px solid  rgb(0, 115, 69);
} */
.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #333;
    border-radius: 15px;
    border: 2px solid aqua;
    text-transform: uppercase;
    color: aqua;
}
.form-button:hover{
    background-color: aqua;
    color: black;
}
.form-button:active{
    width: 97%;
}